.card{
    position: relative;
    cursor: pointer
}

.card img {
    width: 100%;
    display: block;
    border: 2px solid  #F96167;
    border-radius: 6px;

    background:  #a0d636;
    width: 100%; 
    height: 100%;
}


.card img:hover {
    border: 2px solid  #CC313D;
}


.card .front{
    transform: rotateY(90deg);
    position: absolute;
    transition: all ease-in 0.2s;;
}

.flipped .front{
    transform: rotateY(0deg);
    transition-delay: 0.1s;;
}

.card.back{
    transition: all ease-in 0.2;
    transition-delay: 0.2s;
}


.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s;



}@media screen and (max-width: 640px, max-width: 480px,  max-width: 200px) {
    .card {
        max-width: 100%; 
    }
    .card img {
        width: 100%; /* Ensure the images fill the width of the card container on smaller screens */
        height: auto; /* Ensure aspect ratio is maintained */
    }
}